<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{confirmTitle}}</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.dismiss('Close clicked')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <p><strong>{{confirmMessage}}</strong><br />
    <span class="text-danger">Essa operação não poderá ser desfeita</span>
  </p>    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Cancelar')">
        Cancelar
      </button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="activeModal.close('Ok')">
      Ok
    </button>

  <!-- <button type="button" (click)="dialogRef.close(true)" class="btn btn-danger">
    Confirmar
  </button>
   -->
</div>

<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template> -->